{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'head_css.html' %}
</head>
<body>

<table class="table table table-hover table-condensed">
  <thead>
    <tr>
        <th>产品ID</th>
        <th>产品名称</th>
        <th>一级分类</th>
        <th>二级分类</th>
        <th>三级分类</th>
        <th>产品图片</th>
        <th>尺码</th>
        <th>颜色</th>
        <th>成本价</th>
        <th>折扣</th>
    </tr>
  </thead>
  <tbody>
    {% for foo in Plist %}
    <tr>
        <td>{{ foo.pid }}</td>
        <td>{{ foo.name }}</td>
        <td>{{ foo.p_c1 }}</td>
        <td>{{ foo.p_c2 }}</td>
        <td>{{ foo.p_c3 }}</td>
        <td>{{ foo.p_img }}</td>
        <td>{{ foo.P_size }}</td>
        <td>{{ foo.P_color }}</td>
        <td>{{ foo.p_price }}</td>
        <td>{{ foo.p_discount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
        {% if Plist.has_previous %}
          <a href="?page={{ Plist.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;上一页</span>
          </a>
        {% endif %}
    </li>
    <li><a href="?page=1">1</a></li>
    <li><a href="?page=2">2</a></li>
    <li><a href="?page=3">3</a></li>
    <li><span>...</span></li>
    <li><a href="?page={{ Plist.paginator.num_pages }}">{{ Plist.paginator.num_pages }}</a></li>
    <li>
        {% if Plist.has_next %}
          <a href="?page={{ Plist.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">下一页&raquo;</span>
          </a>
        {% endif %}
    </li>
    <li><span>当前页{{ Plist.number }} of {{ Plist.paginator.num_pages }}</span></li>
  </ul>
</nav>
</body>
</html>